/* ===========
 * Basic
 * ========== */
body{text-align:right;font-family:'AraJozoor-Regular'}
section{padding:80px 0}
input[type='email'],input[type='tel']{direction:ltr}
img{display:block;max-width:100%}
/* ===========
 * Header
 * ========== */
header{background-image:url(../images/b4.jpg);min-height:70vh;background-size:cover;background-attachment:fixed;position:relative;padding:30px 0 100px}
header:before{content:'';background:linear-gradient(45deg,rgba(250,195,46,0.3),rgba(58,0,0,0.9));width:100%;height:100%;position:absolute;top:0;right:0;z-index:1}
header .container{position:relative;z-index:2}
header h1{padding-top:100px;color:#fddc2e;font-size:50px}
header h2{display:inline-block;background-color:#fddc2e;padding:10px 20px}
header p{color:#FFF;background-color:#8a370d;display:inline-block;padding:5px 20px}
#formwork1{background-color:rgba(0,0,0,0.6);padding:20px 5px;margin-top:30px}
#formwork1 input{width:100%;padding:10px}
.link{display:block;width:150px;background-color:rgba(0,0,0,.2);text-align:center;padding:10px;border-radius:5px;border:2px solid #fddc2e;color:#fddc2e;-webkit-transition:.2s;transition:.2s;font-size:20px}
.link:hover{text-decoration:none;color:#8a370d;background-color:#fddc2e}
/* ===========
 * Points
 * ========== */
#points .item{margin-bottom:20px;}
#points i{margin-bottom:20px;background-color:#fddc2e;color:#212529;display:inline-block;padding:20px;text-align:center;border-radius:10px}
#points h3{color:#5d5d5d}
#points span{font-size:20px;display:block;color:#818181}
/* ===========
 * Message
 * ========== */
#msg{background:linear-gradient(45deg,rgba(58,46,253,0.29),#ecc918),url(../images/b2.jpg);background-size:cover}
#msg h2{font-size:40px}
#msg h3{font-size:36px}
.link1{display:block;width:200px;background-color:#FFF;text-align:center;padding:20px;border-radius:5px;color:#af8c18;-webkit-transition:.5s;transition:.5s;-webkit-box-shadow:0 5px 10px -5px rgba(0,0,0,0.5);box-shadow:0 5px 10px -5px rgba(0,0,0,0.5);font-size:24px}
.link1:hover{text-decoration:none;color:#af8c18;-webkit-box-shadow:0 10px 10px -5px rgba(0,0,0,0.5);box-shadow:0 10px 10px -5px rgba(0,0,0,0.5)}
/* ===========
 * Advs
 * ========== */
#advs .item span{font-size:20px;margin-right:20px}
#advs h4{background-color:#e2bf21;display:inline-block;padding:10px 30px;color:#FFF;margin-top:30px}
#advs h2{background-color:#e2bf21;display:inline-block;padding:10px 50px;color:#FFF;margin-bottom:50px}
/* ===========
 * Form
 * ========== */
#form{background:url(../images/b3.jpg);color:#FFF;background-position:0 0;background-attachment: fixed}
#form input{width:100%;padding:15px 20px;font-size:20px;background:linear-gradient(45deg,#ffddb6,#ffead6);border:none}
#form input:focus{background:#fff}
#form h2{background-color:#fddc2e;color:#2a0b00;display:inline-block;padding:5px 40px;-webkit-animation:head .3s infinite alternate;animation:head .3s infinite alternate}
@-webkit-keyframes head {
100%{background-color:#f2cb00}
}
@keyframes head {
100%{background-color:#f2cb00}
}
.button{display:block;text-align:center;background-color:#fddc2e;font-size:20px;padding:10px 0;cursor:pointer}
#form .button{color:#491c00;font-size:26px}
/* ===========
 * Footer
 * ========== */
footer{padding:30px 0}
#links{color:#e9ecef}
#links a{color:#683600;display:inline-block;font-size:16px;color:#5d5d5d;display:inline-block;margin:0 10px;font-size:16px}
#social a{background-color:#e9ecef;width:40px;display:inline-block;text-align:center;height:40px;padding-top:7px;border-radius:5px;margin-right:10px;color:#5d5d5d;font-size:20px;text-decoration:none}
#social a:hover{background-color:#dbdbdb}